# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Arquivos de Bytecode e Cache do Python
*.py[cod]
__pycache__/
*.so
*.egg-info/


# Pasta do Ambiente Virtual
# (IMPORTANTE: Se sua pasta tiver outro nome, altere aqui)
env/
venv/
.venv/

# Arquivos de dependências do Python (para que cada dev instale sua versão)
pip-wheel-metadata/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Caches específicos do Django
*.log
*.pot
*.mo
local_settings.py

# Arquivos temporários de migrações
migrations/*.py[cod]
migrations/__pycache__/ 
__pycache__
migrations